node_modules
.DS_Store
1-the-app-brewery/.DS_Store
1-the-app-brewery/01-intro_website/.DS_Store
1-the-app-brewery/01-intro_website/assets/.DS_Store
1-the-app-brewery/02-motivational_poster/.DS_Store
1-the-app-brewery/02-motivational_poster/assets/.DS_Store
1-the-app-brewery/03-web_design_agency_project/.DS_Store
1-the-app-brewery/03-web_design_agency_project/assets/.DS_Store
1-the-app-brewery/06-TinDog/assets/.DS_Store
1-the-app-brewery/08-drum_kit/.DS_Store
1-the-app-brewery/08-drum_kit/assets/.DS_Store
2-oak-academy/.DS_Store
2-oak-academy/1-HTML/.DS_Store
2-oak-academy/2-CSS/.DS_Store

.env